<div class="row mt-5">
<%# jika terdapat var instance tanggal_buka %>
    <% if @tanggal_buka %>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <h4>Tanggal Pembukaan Rekening: <%= @tanggal_buka %></h4>
                <h5>Periode tabungan: <%= @periode %> Bulan </h5>
            </div>
        </div>
    <% end %>
</div>

<div class="row mt-3 d-flex justify-content-center mb-5">
    <% if @hasil.present? %>
        <% @hasil.map do |key, val| %>
            <%= render 'card', saldo: key["saldo"], saldo_akhir: key['saldo_akhir'], bulan: key['bulan'], setoran: key['setoran'], bunga: key['bunga'], pajak_bunga: key['pajak_bunga'], biaya_admin: key['biaya_admin'] %>
        <% end %>
    <% end %>
</div>

<div class="row mt-5">
    <h1 class="text-center mb-3">Financial Calculator</h1>
    <%= form_tag action: 'create' do %>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <%= label_tag 'target', 'Target Dana', class: "form-label" %>
                <%= text_field_tag 'target', nil, class: "form-control" %>
            </div>
        </div>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <%= label_tag 'periode', 'Periode', class: "form-label" %>
                <%= select_tag 'periode', options_for_select(@periode_list.map { |i| ["#{i} Bulan", i] }), class: "form-select" %>
            </div>
        </div>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <%= label_tag 'awal', 'Setoran Awal', class: "form-label" %>
                <%= text_field_tag 'awal', nil, class: "form-control" %>
            </div>
        </div>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <%= label_tag 'setoran', 'Setoran', class: "form-label" %>
                <%= text_field_tag 'setoran', nil, class: "form-control" %>
            </div>
        </div>
        <div class="col-md-6 offset-3">
            <div class="mb-3">
                <%= submit_tag 'Submit', class: 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
</div>
